/* BookSeer styles */

a, a:visited, a:active
{
    text-decoration: none;
    color:#48566b;
    font-weight: bold;
}

.prev-next-area a p.prev-next-title {
    text-decoration: none;
    color:#48566b;
    font-weight: bold;
}

.toctree-wrapper li {
    text-decoration: none;
    color:#48566b;
    font-weight: bold;
}

.toc-entry a.nav-link.active {
    text-decoration: none;
    color:#48566b;
    font-weight: bold;
}

.toc-entry a.nav-link{
    text-decoration: none;
    color:#48566b;
}

nav.bd-links .current > a {
    text-decoration: none;
    color:#48566b;
}

/* Скрыть ссылки "Вперед"/"Назад" */
p.prev-next-subtitle {
    display: none;
}
